body {
  width: 100vh;
  height: 100vh;
  padding: 50px;
  background: #111;
  color: #fff;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 400px;
  height: 250px;
}
